body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  background-color: #1c1c1c;
  color: white;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
  background: url('/img/fondo.svg') no-repeat center center;
  background-size: cover;
  opacity: 0.05;
}

main.container {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.offcanvas-start {
  background-color: #121212;
  box-shadow: 4px 0 20px rgba(0, 0, 0, 0.5);
}

.offcanvas-body .nav-item button {
  color: #fff;
  width: 100%;
  text-align: left;
  padding: 10px 16px;
  font-size: 1rem;
  border: none;
  background: transparent;
  transition: background-color 0.2s ease-in-out;
}

.offcanvas-body .nav-item button:hover {
  background-color: #2a2a2a;
  color: #f44336;
}

.navbar-brand {
  font-weight: bold;
}

.btn-close-white {
  filter: invert(1);
}

.text-white.text-center.mt-5 h2 {
  margin-bottom: 0.5rem;
}

.text-white.text-center.mt-5 p {
  color: #ccc;
  font-size: 1.1rem;
}

body {
  overflow-y: hidden !important;
}

main {
  overflow-y: auto;
  max-height: calc(100vh - 4.5rem);
}
