.form-login {
  background-color: white;
  border: 2px solid black;
  border-top: 5px solid #d52b1e;
  border-radius: 10px;
  padding: 3.5rem; /* más espacio interno */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  width: 100%;
  max-width: 720px; /* lo aumentamos de 600px a 720px */
  margin: 0 auto;
}

.form-label {
  font-weight: 500;
  color: #fff;
}

.form-control,
.form-select {
  background-color: white;
  border: 1px solid #444;
  color: #fff;
  padding: 0.5rem 0.75rem;
  border-radius: 0.375rem;
}

.form-control::placeholder {
  color: #aaa;
}

.form-control:focus,
.form-select:focus {
  background-color: white;
  border-color: #d52b1e;
  outline: none;
  box-shadow: 0 0 8px #d52b1e;
  color: black;
}

.btn-danger {
  background-color: #b02118;
  border-color: #cd2f1a;
  font-size: 1.05rem; /* botón más grande */
  height: 50px;
}

.btn-danger:hover {
  background-color: #cd2f1a;
  border-color: #a11c15;
}

.logo-bomberos {
  width: 150px; /* logo más grande */
  height: auto;
  display: block;
  margin: 0 auto 2rem;
}

.btn-link.recuperar-link {
  color: #b02118;
  font-weight: 600;
  text-decoration: none;
  font-size: 0.95rem;
  cursor: pointer;
}

.btn-link.recuperar-link:hover {
  color: #cd2f1a;
  text-decoration: underline;
}


