html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Segoe UI', sans-serif;
  background-color: #111;
  overflow-x: hidden;
}

main {
  padding: 0;
  margin: 0;
  background-color: black;
  min-height: 100vh;
  width: 100%;
  max-width: 100vw; /*cambie esto y se agrando el contenedor, peor quiero que se adapte al tamaño de la pantalla de forma automatica*/
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
